.cnt {
    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 20px;

}

.form-container button {
    margin-left: 20px;
   
}

.label {
    padding-right: 10px;
    color:azure
}

.add{
   color: white;
   background-color: #7124D3;
   border-color:  #7124D3;
   border: 1px;
   border-radius: 3px;
}

button:active{
    color: #7124D3;
    background-color: white
}

.added{
    color: #7124D3;
   background-color: white
}

h2{
    color: #787D8F;
    margin-top: 20px;
    margin-left: 20px;
  }

 #foto{
     height: auto !important;
     width: auto !important ;
     background-size: cover !important;
 }

 #buttonBuscarStyle{
    color: white;
    background-color: #7124D3;
    border-radius: 1.5px;
    border:  #7124D3 1px;
    transition: all 2s;
 }

 #buttonBuscarStyle:hover{
    color: #7124D3;
    background-color: white
  }
  
  

/* #visit:visited{
  color: violet
} */

.dimensiones{
    width: 100% !important;
    height: 425px !important;    
}

.imgprueba{
    width: max-content !important;
}